<div [ngClass]="messageClasses(message)" theme>
  <div class="body">
    {{ message.body }}
  </div>
  <div class="info">
    <tooltip tip="Sender" position="top">
      <div class="sender">
        {{ message.sender.userName }}
      </div>
    </tooltip>
    <tooltip tip="Read Status" position="top">
      <div class="read-status" [ngClass]="message.readStatus ? 'read' : 'unread'"></div>
    </tooltip>
    <tooltip tip="Sending Date" position="top">
      <div class="date">
        {{ formatCreatedAt(message) }}
      </div>
    </tooltip>
  </div>
</div>
