@import '../../../../../variables.scss';
@import './date.component.theme.scss';

.input-wrapper {
  position: relative;
  width: 100%;
  margin-top: $spaceing-l;

  input, textarea {
    border: 0;
    border-bottom: 2px solid;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 1em;
    transition: all .2s ease-in-out;

    &:focus {
      border: 0;
      outline: 0;
      border-bottom: 2px solid;
    }
  }

  label {
    font-size: 1em;
    pointer-events: none;
    margin: 0;
  }

  .error-message {
    max-width: 100%;
    line-break: strict;
  }
}

@each $theme-name in $theme-names {
  @include custom-input-theme($theme-name);
}
