<div class="menu-bar-wrapper" [ngClass]="getClasses()" theme>
  <div class="left">
    <div class="home" *ngIf="!isHome">
      <logo-center [routerLink]="['']"></logo-center>
    </div>
    <ng-content select="[left]"></ng-content>
  </div>
  <div class="right">
    <ng-content select="[right]"></ng-content>
    <loader [loader]="userService">
      <div success class="logged-in">
        <button (click)="toggleDropDown()" class="dropdown-toggle" theme button>{{userName}}</button>
        <div [ngClass]="getDropdownClasses()" theme class="dropdown-wrapper">
          <div class="dropdown">
            <button theme button [routerLink]="['/user/profile']">My Profile</button>
            <app-logout></app-logout>
          </div>
        </div>
      </div>
      <app-user-icon fail class="not-logged-in" theme [routerLink]="['/user/login']" height="60%" width="60%"></app-user-icon>
    </loader>
  </div>
</div>
