@mixin messenger-theme($theme-name) {

    .messenger-wrapper.#{$theme-name} {
        
      $message-bg: get-theme($theme-name, dark);
      $messenger-bg: get-theme($theme-name, shady);
      $text-color: get-theme($theme-name, bright);
      $warning-text-color: get-theme($theme-name, warn);
      $answer-color: get-theme($theme-name, highlight);

      background: $messenger-bg;
      color: $text-color;

      .answer-area {
        background: $message-bg;
      }

      .answerButton {
        color: $answer-color;
      }
      .messenger {
        color: $text-color;
        .header {
          .warning {
            color: $warning-text-color;
          }
        }
      }
    }
  }
