@import 'variables';
@import './search-product-component-theme.scss';

@each $theme-name in $theme-names {
    @include search-theme($theme-name);
  }


button {
    margin-top: 2em;
    left: 90%;
}
h2{
  font-size: 1em;
}

#b2{
  margin-top: 1.6em;
  margin-left: 2em;
}

#radioGrid {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0em;
}

#priceGrid {
  margin-top: 1cm;
  grid-row-gap: 2em;
}


#button2{
  left: 0em;
  align-self: center;
  margin-left: 2em;
  bottom: 1em;
  height: 3em;
  width: 8em;
}

#deliverableGrid{
  grid-column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0%;
  margin-top: 1.5em;
}

.input-grid{
  margin-top: 1em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $spaceing-xl;
}
.toggleSlider{
  margin: 0.5em;
  width: 40px;
}
.wrap {
  display: grid;
  margin: auto;
  width: 20em;
  bottom: 0.25cm;
  overflow: hidden;
  position: relative;
  background:
    linear-gradient(0deg, rgb(99, 199, 202) 2em, transparent 0);
}
.sr-only {
  position: absolute;
  clip-path: inset(100%);
}

@mixin track() {
  background: none;
  height: 100%;
  width: 100%;
}

@mixin thumb() {
  background: currentcolor;
  border: none;
  border-radius: 0;
  pointer-events: auto;
  width: 2em; height: 2em;
}

input[type='range'] {
  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb, & { -webkit-appearance: none; }
  grid-column: 1;
  grid-row: 1;
  background: none;
  color: rgb(38, 47, 128);
  font: inherit;
  pointer-events: none;
  &::-webkit-slider-runnable-track { @include track; }
  &::-moz-range-track { @include track; }
  &::-webkit-slider-thumb { @include thumb; }
  &::-moz-range-thumb { @include thumb; }
}
