<app-login-bar></app-login-bar>

<div class="title-wrapper">
  <div class="title">
    <h1>TEAM6</h1>
    <h3>Shoppingplatform</h3>
  </div>
</div>

<div class="content-wrapper">
  <div class="product">
    <button class="button-full-po" (click)="buy()">Buy Product</button>
    <button class="button-full-po" (click)="post()">Post Product</button>
    <button class="button-full-po" (click)="approve()">Approve Product</button>
  </div>
  <div class="answer">
    <p>{{ this.buyMessage }}</p>
    <p>{{ this.postMessage }}</p>
    <p>{{ this.approveMessage }}</p>
  </div>
</div>
