@import 'animations';
@mixin threads-theme($theme-name) {

  .threads-wrapper-wrapper.#{$theme-name} {

    $message-bg: theme-dark($theme-name);
    $bg: theme-shady($theme-name);
    $text-color: theme-bright($theme-name);

    $btn-hover-bg: theme-light($theme-name);
    $btn-hover-color: theme-dark($theme-name);
    $btn-default-bg: theme-highlight($theme-name);
    $btn-default-color: theme-bright($theme-name);

    background: $bg;
    color: $text-color;

    .threads-wrapper {
      .threads {
        .thread {
          background: rgba($btn-default-bg, .25);
          color: $btn-default-color;

          &:focus {
            outline: none;
          }

          &:hover {
            background: $btn-hover-bg;
            color: $btn-hover-color;
          }

          &:disabled {
            background: rgba($btn-default-bg, .3);
            color: rgba($btn-default-color, .2);
            cursor: default;
          }

          .accepted-status {
            &.not-accepted {
              @include animation(0, 2s, pulsate-#{$theme-name}, ease-in-out, infinite, alternate);
            }
          }
        }
      }
    }
  }
}
