@mixin threads-theme($theme-name) {

  .threads-wrapper-wrapper.#{$theme-name} {

    $message-bg: get-theme($theme-name, dark);
    $bg: get-theme($theme-name, shady);
    $text-color: get-theme($theme-name, bright);

    $btn-hover-bg: get-theme($theme-name, light);
    $btn-hover-color: get-theme($theme-name, dark);
    $btn-default-bg: get-theme($theme-name, highlight);
    $btn-default-color: get-theme($theme-name, bright);

    background: $bg;
    color: $text-color;

    .threads-wrapper {
      .threads {
        .thread {
          background: rgba($btn-default-bg, .25);
          color: $btn-default-color;

          &:focus {
            outline: none;
          }

          &:hover {
            background: $btn-hover-bg;
            color: $btn-hover-color;
          }

          &:disabled {
            background: rgba($btn-default-bg, .3);
            color: rgba($btn-default-color, .2);
            cursor: default;
          }
        }
      }
    }
  }
}
