<app-product-details [product]="product">
  <button theme button [routerLink]="['/product/post', product.productId]">Update</button>
  <button theme button (click)="toggleDelete()">Delete</button>
</app-product-details>
<div *ngIf="product.rejectionMessage" class="rejection-message">
  <span class="title">
      Rejection Message:
  </span>
  <div class="message">
    {{product.rejectionMessage}}
  </div>
</div>
<div *ngIf="showDeleteForm" class="overlay-wrapper" theme>
    <div class="overlay-content">
      <form class="overlay-form" #deleteForm="ngForm" (ngSubmit)="delete()">
        <p>Are you sure you want to delete this product?</p>
        <div>
          <button theme buttonWarn>Delete</button>
          <button type="button" (click)="toggleDelete()" theme buttonEmpty>Cancel</button>
        </div>
      </form>
    </div>
</div>
