@import 'variables';
@import '../product-information.component.scss';

.rejection-message {
  margin: 0 50px 50px 50px;

  .title {
    background: $warn;
    padding: 10px;
    border-radius: 20px;
  }

  .message {
    margin-top: 10px;
  }
}

.modal-card-head {
  height: 60px;
  width: 300px;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
  background-color: white;
}

.modal-card-body {
  height: 60px;
  width: 300px;
  padding-top: 5px;
  padding-left: 2.6em;
  background-color: white;
}
