@import '../../../../../../variables.scss';


$margin: 50px;

.content-wrapper {
  padding: $margin;
  width: 100%;
}

.section-margin {
  width: 100%;
  margin: 0;
  margin-bottom: $margin;
}

.upper-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: $margin;
  grid-row-gap: 20px;
}

.picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

img {
  width: 100%;
  height: 100%;
}

.title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.title > div {
  font-size: 50px;
  line-height: 50px;
}

.creator {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  position: relative;
}

.creator > div {
  position: relative;
}

.creator > div::before {
  content: '';
  height: 100%;
  left: -10px;
  position: absolute;
  border-left: 2px solid black;
}

.category {
  position: relative;
}

.subcategory {
  position: absolute;
  left: $margin;
}

.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lower-section {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-column-gap: $margin;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.options > button {
  width:  100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

