@import '../../../../../../variables.scss';

@mixin product-details-theme($theme-name, $background, $section-color, $text-color, $accent-color) {
  .#{$theme-name} {
    background: $background;
    color: $text-color;

    .upper-section {
      background: $section-color;

      .creator > div::before {
        border-color: $accent-color;
      }
    }

    .section-margin {
      border-color: $section-color;
    }

    .lower-section {
      background: $section-color;
    }
  }
}
