@mixin product-details-theme($theme-name) {
  .#{$theme-name} {

    $theme: map-get($themes, $theme-name);

    $product-bg: map-get($theme, dark);
    $section-color: map-get($theme, shady);
    $text-color: map-get($theme, bright);
    $accent-color: map-get($theme, accent);
    $btn-default-bg: map-get($theme, highlight);

    background: $product-bg;
    color: $text-color;

    .upper-section {
      background: $section-color;

      .creator > div::before {
        border-color: $accent-color;
      }
    }

    .section-margin {
      border-color: $section-color;
    }

    .lower-section {
      background: $section-color;
    }

    .btnColor {
      color: $btn-default-bg;
    }

    .disableColor {
      color: white;
    }
  }
}
