<div class="messages-wrapper-wrapper" theme>
  <div class="receiver">
    <img class="profile-picture" [src]="receiver.pictureUrl">
    <div class="receiver-info">
      <div class="username">
        {{ receiver.userName }}
      </div>
      <div class="email">
        {{ receiver.email }}
      </div>
    </div>
  </div>
  <div class="display">
    <loader [loader]="messageService">
      <div success class="no-messages" *ngIf="thread.messages.length === 0; else messages">
        No messages in this thread.
      </div>
      <ng-template success #messages>
        <div class="messages-wrapper">
          <div class="messages" #messagesElement>
            <message *ngFor="let message of thread.messages" [message]="message" [senderId]="senderId"></message>
          </div>
        </div>
      </ng-template>
    </loader>
  </div>
  <div class="answer">
    <app-text-area  name="answer" [placeholder]="thread.canSendMessage ? 'Compose a message for ' + receiver.userName : 'Thread is not accepted yet!'"
    rows="1" ngModel #answer="ngModel" messageValidator></app-text-area>
    <button class="" button theme (click)="sendMessage(answer)" [disabled]="!thread.canSendMessage">Send</button>
  </div>
</div>
