
.buy-wrapper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5em;
  }
  
  .buy-wrapper {
    width: 80%;
    padding: 40px;
    border: 2px solid #2f2f36;
  }

h3 {
    border: 0;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    transition: all .2s ease-in-out;
  }

.cards {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

img {
    width: 30%;
    height: 30%;
    ;;
}
.input-grid {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-column-gap: 40px;
  }
