@import '../../../../../../../variables.scss';

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  background: none;
  margin-bottom: 5px;
}

.title.fainted {
  color: $faded;
}

.pill {
  padding: 10px;
  height: 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 12px;;
}

.default {
  width: 50px;
}
