<div class="login-bar-wrapper">
  <div *ngIf="isLoggedIn;else notLoggedIn" class="logged-in">
    <button (click)="toggleDropDown()" class="dropdown-toggle button-full-po">{{userName}}</button>
    <div [ngClass]="{'collapse': !showDropdown, 'expand': showDropdown, 'land': newReload}" class="dropdown">
      <div class="dropdown-wrapper">
        <button class="button-empty" [routerLink]="['/user/profile']">Profile</button>
        <hr>
        <app-logout></app-logout>
      </div>
    </div>
  </div>
  <ng-template #notLoggedIn>
      <app-user-icon class="not-logged-in" [routerLink]="['/user/login']" height="60%" width="60%"></app-user-icon>
  </ng-template>
</div>
