@mixin menu-bar-theme($theme-name) {

  $bg: get-theme($theme-name, shady);
  $bg-fix: get-theme($theme-name, dark);
  $block-icon-bg: get-theme($theme-name, highlight);
  $block-dropdown-bg: get-theme($theme-name, highlight);

  .block.#{$theme-name} {
    background: $bg;

    .dropdown-wrapper {
      background: $block-dropdown-bg;
    }

    .not-logged-in {
      background: $block-icon-bg;
    }
  }

  .fix.#{$theme-name} {
    background: $bg-fix;

    .dropdown-wrapper {
      background: $bg;
    }

    .not-logged-in {
      background: $bg;
    }
  }
}
