@mixin menu-bar-theme($theme-name) {

  $bg: get-theme($theme-name, shady);
  $block-icon-bg: get-theme($theme-name, highlight);
  $block-dropdown-bg: get-theme($theme-name, highlight);

  .absolute.#{$theme-name} {
    .dropdown-wrapper {
      background: $bg;
    }

    .not-logged-in {
      background: $bg;
    }
  }

  .relative.#{$theme-name} {
    background: $bg;

    .dropdown-wrapper {
      background: $block-dropdown-bg;
    }

    .not-logged-in {
      background: $block-icon-bg;
    }
  }

  .fixed.#{$theme-name} {
    .dropdown-wrapper {
      background: $bg;
    }

    .not-logged-in {
      background: $bg;
    }
  }
}
