<div class="login-bar-wrapper">
  <div *ngIf="isLoggedIn">
    <div *ngIf="isAdmin">

    <div>
  <div>


  <!--<app-logout *ngIf="isLoggedIn()"></app-logout>
  <div *ngIf="isAdmin()" class="login-status">
    <div class="login" [matMenuTriggerFor]="adminMenu">
      <svg class="svg-icon-39" viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
        <path class="path-1" d="M 0 -48 a 20 20 0 0 0 0 40 a 20 20 0 0 0 0 -40 Z M 40 48 a 40 40 0 0 0 -40 -40 a 40 40 0 0 0 -40 40"></path>
      </svg>
    </div>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item [routerLink]="['/user/admin-user-profile']">
        <span>{{getUserName()}}</span>
      </button>
      <button mat-menu-item [routerLink]="['/user/wallet']">
        <span>Wallet</span>
      </button>
      <button mat-menu-item disabled>
        <span>blabla</span>
      </button>
    </mat-menu>
  </div>
  <div *ngIf="isLoggedIn() && !isAdmin()" class="login-status">
    <div class="login" [matMenuTriggerFor]="menu">
      <svg class="svg-icon-39" viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
        <path class="path-1" d="M 0 -48 a 20 20 0 0 0 0 40 a 20 20 0 0 0 0 -40 Z M 40 48 a 40 40 0 0 0 -40 -40 a 40 40 0 0 0 -40 40"></path>
      </svg>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/user/profile']">
        <span>{{getUserName()}}</span>
      </button>
      <button mat-menu-item [routerLink]="['/user/wallet']">
        <span>Wallet</span>
      </button>
      <button mat-menu-item disabled>
        <span>blabla</span>
      </button>
    </mat-menu>
  </div>
  <div *ngIf="!isLoggedIn()">
    <div class="login" [routerLink]="['/user/login']">
      <svg class="svg-icon-39" viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
        <path class="path-1" d="M 0 -48 a 20 20 0 0 0 0 40 a 20 20 0 0 0 0 -40 Z M 40 48 a 40 40 0 0 0 -40 -40 a 40 40 0 0 0 -40 40"></path>
      </svg>
    </div>
  </div> -->
</div>
