@import '../../../../variables.scss';
@import './menu-bar.component.theme.scss';

.menu-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $spaceing-m;
  z-index: 1;

  &.block {
    position: relative;
  }

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logged-in {
      position: relative;
      min-width: 200px;

      .dropdown-toggle {
        width: 100%;

        &::after {
          display: none;
        }
      }

      .dropdown-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        top: calc(100% + #{$spaceing-m});
        width: 100%;
        border-radius: $border-radius;

        &.expand {
          animation: expand .1s forwards ease-in;
        }

        &.collapse {
          animation: collapse .1s reverse forwards ease-in;
        }

        &.land {
          visibility: hidden;
          animation: none;
        }

        .dropdown {
          width: 100%;
          display: grid;
          grid-row-gap: $spaceing-xs;
          padding: $spaceing-s;
        }
      }
    }

    .not-logged-in {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all .1s ease-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &:focus {
        outline: 0;
      }
    }
  }
}

@keyframes expand {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes collapse {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@each $theme-name in $theme-names {
  @include menu-bar-theme($theme-name);
}
