<div class="menu-bar-wrapper">
  <div *ngIf="isLoggedIn;else notLoggedIn" class="logged-in">
    <button (click)="toggleDropDown()" class="dropdown-toggle" [ngClass]="'button-' + theme">{{userName}}</button>
    <div [ngClass]="getDropdownClasses()" class="dropdown-wrapper">
      <div class="dropdown">
        <button [ngClass]="'button-' + theme" [routerLink]="['/user/profile']">My Profile</button>
        <app-logout></app-logout>
      </div>
    </div>
  </div>
  <ng-template #notLoggedIn>
      <app-user-icon class="not-logged-in" [ngClass]="theme" [routerLink]="['/user/login']" height="60%" width="60%"></app-user-icon>
  </ng-template>
</div>
