<app-product-details [product]="product">
  <button theme button type="button" (click)="toggleAccept()">Accept</button>
  <button theme buttonWarn type="button" (click)="toggleReject()">Reject</button>
</app-product-details>

<div *ngIf="showRejectResponseForm" class="overlay-wrapper" theme>
  <div class="overlay-content">
    <form class="overlay-form" #rejectResponseForm="ngForm" (ngSubmit)="reject(rejectResponseForm)">
      <app-text-area rows="3"
        placeholder="Reason of Rejection"
        name="reason"
        appRejectionMessageValidator
        ngModel></app-text-area>
      <div>
        <button theme buttonWarn [disabled]="!rejectResponseForm.valid">Send Rejection</button>
        <button theme buttonEmpty type="button" (click)="toggleReject()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="showAcceptForm" class="overlay-wrapper" theme>
    <div class="overlay-content">
      <form class="overlay-form" #acceptForm="ngForm" (ngSubmit)="accept()">
        <p>Are you sure you want to accept this product?</p>
        <div>
          <button theme button>Accept</button>
          <button type="button" (click)="toggleAccept()" theme buttonEmpty>Cancel</button>
        </div>
      </form>
    </div>
</div>
