<div class="product-view" *ngIf="products.hasProducts; else hasNoProducts">
  <div class="control">
    <button theme button (click)="switchView()">Switch View</button>
    <button theme button (click)="searchProduct(searchProducts)" type="button">Search Products</button>
  </div>
  <div class="view">
    <app-product-view-list class="product-display list" *ngIf="isList; else isGrid" [products]="filteredProducts" [path]="path"></app-product-view-list>
    <ng-template #isGrid>
      <app-product-view-grid class="product-display grid" [products]="filteredProducts" [path]="path"></app-product-view-grid>
    </ng-template>
  </div>
</div>
<ng-template #hasNoProducts>
  <div class="no-products" theme>
    Nothing to see here.
  </div>
</ng-template>
<ng-template #searchProducts>
  <div class="search-wrapper-wrapper" theme>
    <div class="search-wrapper" >
          <app-search-product (criteriaChange)='updateCriteria($event)' [productArray]="products" ></app-search-product>
    </div>
  </div>
</ng-template>
