@import 'variables';
@import './product-view.component.theme.scss';

.product-view {
  width: 100%;

  .control {
    width: 100%;
    margin-bottom: $spaceing-m;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spaceing-m
  }

  .view {
    display: flex;
    width: 100%;

    .list {
      width: 100%;
    }

    .grid {
      width: 100%;
    }
  }

  .select {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: $spaceing-m;
    margin-top: $spaceing-m;
  }
}

.select-categories{
  margin-top: $spaceing-m;
  display: flex;
  flex-direction: row;

}

.no-products {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@each $theme-name in $theme-names {
  @include no-products-theme($theme-name);
}

.search-wrapper{
  height: 50em;
  width: 50em;
  background-clip: content-box;
  padding: 50px;
  padding-top: 40px;
}

@each $theme-name in $theme-names {
  @include search-theme($theme-name);
}

.search-wrapper-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  overflow: auto;
}
