@mixin card-theme($theme-name) {

  .app-card-wrapper.#{$theme-name} {

    $theme: map-get($themes, $theme-name);

    $login-wrapper-bg: map-get($theme, dark);
    $login-bg: map-get($theme, shady);
    $text-color: map-get($theme, bright);
    $warning-text-color: map-get($theme, warn);

    background: $login-wrapper-bg;

    .app-card {
      background: $login-bg;
      color: $text-color;

      .header {
        .error-message {
          color: $warning-text-color;
        }
      }
    }
  }
}
