@import '../../../variables.scss';
@import './home.component.theme.scss';

.title-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;

  .title {
    margin: auto;
    display: grid;
    grid-row-gap: $spaceing-xs;
    position: relative;
    width: 500px;
    padding-left: 2 * $spaceing-xs;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 3px;
      background: #DBA295;
      top: 0;
      left: $spaceing-xs - 1.5px;
    }

    .header {
      display: grid;
      grid-template-columns: repeat(4, min-content);
      grid-auto-flow: column;
      justify-content: space-between;
      justify-items: space-around;
      align-items: center;
      padding: $spaceing-xs;


      div {
        font-size: 1.7em;
        line-height: 1em;
      }
    }

    .sub-header {
      display: grid;
      grid-template-columns: repeat(16, min-content);
      grid-auto-flow: column;
      justify-content: space-between;
      justify-items: space-around;
      align-items: center;
      padding: $spaceing-xs;

      div {
        font-size: .8em;
        line-height: 1em;
      }

    }
  }



  .go-to-post {
    position: absolute;
    height: 70px;
    width: 70px;
    right: $spaceing-xl;
    bottom: $spaceing-xl;

    &:active , &:focus {
      outline: 0;
    }

    .plus {
      transition: all .1s ease-in-out;
      cursor: pointer;

      box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);

      border-radius: 50%;

      &:hover {
        transform: scale(1.1);
      }

      path {
        stroke: none;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }



}

.content-wrapper {
  min-height: 100vh;
  width: 100%;
  padding: $spaceing-xl;
}

@each $theme-name in $theme-names {
  @include title-theme($theme-name);
}

@each $theme-name in $theme-names {
  @include content-theme($theme-name);
}
