@import 'variables';
@import './home.component.theme.scss';

.title-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;

    six {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding: $spaceing-xs;
    }

    logo {
      z-index: 1;
      margin: $spaceing-xs;
    }

  .go-to-post {
    cursor: pointer;
    position: relative;
    height: calc(2 * #{$spaceing-s});
    width: calc(2 * #{$spaceing-s});

    &:active , &:focus {
      outline: 0;
    }
  }



}

.content-wrapper {
  min-height: 100vh;
  width: 100%;
  padding: $spaceing-xl;
}

@each $theme-name in $theme-names {
  @include title-theme($theme-name);
}

@each $theme-name in $theme-names {
  @include content-theme($theme-name);
}
