<div class="title-wrapper" theme>
  <app-menu-bar [isHome]="true" position="absolute">
    <div right *ngIf="isLoggedIn" class="go-to-post" [routerLink]="['/product/post']">
      <plus></plus>
    </div>
  </app-menu-bar>
  <six></six>
  <logo></logo>
  <div style="position: absolute; left: 4em; top: 360px; width: 10px; height: 10px"
    (click)="show(tpl)">
  </div>
</div>
<div class="content-wrapper" theme>
  <app-product-view [products]="products"></app-product-view>
</div>

<ng-template #tpl>
  <div>
  <img src="../../../assets/testImage3.png">
  </div>
</ng-template>
