.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.title {
  display: grid;
  grid-row-gap: 10px;
  position: relative;
}

.title::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 3px;
  background: #DBA295;
  top: 0;
  left: -20px;
}

h1 {
  height: auto;
  letter-spacing: 100px;
  color: #352e34
}

h3 {
  font-size: 12px;
  letter-spacing: 24px;
  text-transform: uppercase;
  color: #8a838a
}

.content-wrapper {
  height: 100vh;
  width: 100vw;
  background: rgba(191, 191, 217, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
}

.answer {
  margin-top: 100px;
  position: relative;
  height: 200px;
  width: 400px;
  background: black;
  color: white;
  padding: 40px;
}

.answer > p {
  margin: 10px;
}
