.login-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.login {
  background: #9F9FB5;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 1;
  transition: all .1s ease-out;
  cursor: pointer;
}

.login:hover {
  transform: scale(1.1);
}

.svg-icon-39 {
  height: 60%;
  width: 60%;
}

.svg-icon-39 path {
    stroke: white;
    stroke-width: 5%;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
