@import '../../../../variables.scss';
@import './loading-indicator.component.theme.scss';

.loading {
  min-height: $spaceing-l;
  min-width: $spaceing-l;
  height: 100%;
}

@each $theme-name in $theme-names {
  @include loading-indicator-theme($theme-name);
}
