@import '../../../../../../variables.scss';

.stage-content {
  height: 100%;
  width: 100%;

  &.deliverable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spaceing-xs;

    .address {

    }

    .map {
    }
  }

  &.not-deliverable {

  }
}
