<stage>
  <div class="stage-content deliverable" content *ngIf="product.isDeliverable; else notDeliverable">
    <div class="address-selection">
      {{addressText}}
    </div>
    <map (searchResultsEmitter)="logData($event)" [showLocation]="addressText"></map>
  </div>
  <ng-template #notDeliverable>
    <p class="stage-content not-deliverable">There is no shipping available for this item.
      Please contact the seller on how to handle the shipping.
      The contact information will be available after payment.</p>
  </ng-template>
  <button navigation type="button" name="button" (click)="previousStage()" theme buttonEmpty>Previous</button>
  <button navigation type="button" name="button" (click)="nextStage()" theme button>Next</button>
</stage>
