<div class="login-wrapper-wrapper">
  <div class="login-wrapper">
    <h3>Create Account</h3>
    <form #createAccountForm="ngForm" (ngSubmit)="onSubmit(createAccountForm)">
      <div class="input-grid">
        <app-select name="gender" placeholder="Gender" selectName="Gender" [options]="['Female', 'Male', 'Other']" ngModel #gender="ngModel" appGenderValidator></app-select>
      </div>
      <div class="input-grid">
        <app-text-input placeholder="First Name" name="firstName" ngModel #firstName="ngModel" appNounValidator></app-text-input>
        <app-text-input placeholder="Last Name" name="lastName" ngModel #lastName="ngModel" appNounValidator></app-text-input>
      </div>
      <div class="input-grid">
        <app-text-input placeholder="Username" name="userName" ngModel #userName="ngModel" appUsernameValidator></app-text-input>
        <app-text-input placeholder="Email" name="email" ngModel #email="ngModel" appEmailValidator></app-text-input>
      </div>
        <app-password-input placeholder="Password" name="password" ngModel #password="ngModel" appPasswordValidator></app-password-input>
        <app-password-input placeholder="Repeat Password" name="repeatPassword" ngModel #repeatPassword="ngModel" appPasswordValidator></app-password-input>
        <app-number-input placeholder="Phonenumber" name="phonenumber" ngModel #phonenumber="ngModel" appPhonenumberValidator></app-number-input>

      <div class="input-grid">
        <app-number-input placeholder="PLZ" name="plz" ngModel #plz="ngModel" appPlzValidator></app-number-input>
        <app-text-input placeholder="City" name="city" ngModel #city="ngModel" appNounValidator></app-text-input>
      </div>

      <div class="input-grid">
        <app-text-input placeholder="Street" name="street" ngModel #street="ngModel" appNounValidator></app-text-input>
        <app-text-input placeholder="House Number" name="houseNumber" ngModel #houseNumber="ngModel" appHouseNumberValidator></app-text-input>
      </div>

      <div class="action-wrapper">
        <button class="button-full-po" [disabled]="!createAccountForm.valid">Next</button>
      </div>
    </form>
  </div>
  <app-error-messages [form]="createAccountForm"></app-error-messages>
</div>
