<div class="user" [ngClass]="theme">
  <div class="header-wrapper flex-item">
    <div class="header">
      <div class="name">
        <div class="fullname">{{user.firstName}} {{user.lastName}}</div>
        <div class="separator"></div>
        <div class="userid"><span class="hashtag">#</span><span class="id">{{user.userId}}</span></div>
      </div>
    </div>
  </div>

  <div class="wallet-wrapper-wrapper flex-item">
    <div class="wallet-wrapper">
      Balance:
      <div class="wallet">
        {{user.wallet}}$
      </div>
    </div>
  </div>

  <div class="details flex-item">
    <div class="detail">
      Username
      <div class="detail-content">{{user.userName}}</div>
    </div>
    <div class="detail">
      Location
      <div class="detail-content">Gumisweg 7, 3423, Ersigen, Bern, CHE</div>
    </div>
    <div class="detail">
      Email
      <div class="detail-content">{{user.email}}</div>
    </div>
    <div class="detail">
      Phone
      <div class="detail-content">{{user.phonenumber}}</div>
    </div>
  </div>
</div>
