@import '../../../../../variables.scss';
@import './user-details.component.theme.scss';

.user {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-wrapper {
    height: 50%;
    width: 100%;

    .name {
      width: 100%;
      height: 100%;
      font-size: 5em;
      line-height: 100%;
      display: grid;
      grid-template-columns: auto $spaceing-xl auto;
      grid-column-gap: $spaceing-xs;
      padding: $spaceing-m;
      border-radius: $border-radius;
    }

    .separator {
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        height: 100%;
        border-right: 4px solid;
        transform: rotate(30deg);
      }
    }

    .userid {
      left: 120%;
      top: 80%;
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .hashtag {
        font-size: .2em;
        line-height: 1em;
      }

      .id {
        font-size: .4em;
        line-height: 1em;
      }
    }
  }

  .wallet-wrapper-wrapper {
    height: 20%;

    .wallet-wrapper {
      font-size: .7em;

      .wallet {
        padding: $spaceing-m;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: $border-radius;
        font-size: 2em;
      }
    }
  }

  .details {
    height: 30%;
    width: 100%;
    justify-content: space-around;
    font-size: 1rem;

    .detail {
      padding: $spaceing-m;
      padding-left: $spaceing-xl;
      padding-right: $spaceing-xl;
      border-radius: $border-radius;
      font-size: .7rem;

      .detail-content {
        font-size: 1.2rem;
      }
    }
  }
}

@each $theme-name in $theme-names {
  @include user-detail-theme($theme-name);
}
