@mixin user-detail-theme($theme-name) {
  .user.#{$theme-name} {

    $color: get-theme($theme-name, bright);
    $bg: get-theme($theme-name, shady);
    $content-bg: get-theme($theme-name, dark);
    $wallet-bg: get-theme($theme-name, highlight);
    $accent-color: get-theme($theme-name, accent);
    $detail-bg: get-theme($theme-name, shady);

    color: $color;
    .name-picture-wrapper {
      background: $bg;
      .name-wrapper {
        .name {
          .separator{
              background: $accent-color;
          }
        }
      }
    }

    .wallet-wrapper-wrapper {
      background: $bg;
      .waller-wrapper {
        .wallet {
          background: $wallet-bg;
        }
      }
    }
    .details-wrapper {
      background: $bg;
      .details {
        .detail {
          .detail-content {
            background: $content-bg;
          }
        }
      }
    }
  }
}
