@import '../../../../../variables.scss';

$bright: #c4fff1;
$darkerbright: #89ffe3;
$middle: #0eba91;
$darkmiddle: #0a8265;
$light: #2f3b52;
$dark: #242e42;

.user {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $dark;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  height: 50%;
  width: 100%;
}

.fullname {
  width: 100%;
  height: 100%;
  font-size: 5em;
  line-height: 100%;
  position: relative;
}

.fullname::before {
  content: "";
  position: absolute;
  height: 0;
  width: 150%;
  border-bottom: 4px solid $darkmiddle;
  top: 100%;
  left: 30%;
  transform: rotate(-22deg);
}

.hidden-name {
  visibility: hidden;
}

.firstname {
  position: absolute;
  left: 40%;
  top: -50%;
  color: $bright;
}

.lastname {
  position: absolute;
  top: 50%;
  left: -40%;
  color: $bright
}

.userid {
  color: $bright;
  position: absolute;
  left: 120%;
  top: 80%;
  font-size: .2em;
}

.userid > span {
  font-size: 1.5em;
}

.wallet-wrapper-wrapper {
  height: 20%;
}

.wallet-wrapper {
  color: $bright;
  font-size: .7em;
}

.wallet {
  background: $middle;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  color: $bright;
  font-size: 2em;
}

.details {
  height: 30%;
  width: 100%;
  justify-content: space-around;
  font-size: 1rem;
}

.details > div {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background: $light;
  color: $bright;
  border-radius: 10px;
  font-size: .7rem;
}

.detail-content {
  font-size: 1.2rem;
}
