@import 'variables';


.login-form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: $spaceing-s;

  @media screen and (max-height: 400px) {
    grid-template-columns: auto auto;
  }

  @media screen and (max-width: 400px) {
    grid-template-columns: auto;
  }

  .action-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spaceing-s;

    @media screen and (max-height: 400px) {
      grid-column: span 2;
    }
    @media screen and (max-width: 400px) {
      grid-column: auto;
      grid-template-columns: auto;
    }
  }
}
