@import 'variables';
@import './login.component.theme.scss';

.login-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: $spaceing-m;
  overflow-y: scroll;

  .login {
    margin: auto;
    padding: $spaceing-xl;
    border-radius: $border-radius;
    display: grid;
    grid-template-rows: min-content auto;
    grid-gap: $spaceing-m;
    @media screen and (max-width: 300px){
      padding: $spaceing-m;
    }

    .header {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 1.7em;
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;
      }

      .warning {
        font-size: 1em;
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .login-form {
      display: grid;
      grid-template-columns: auto;
      grid-gap: $spaceing-s;

      @media screen and (max-height: 400px) {
        grid-template-columns: auto auto;
      }

      @media screen and (max-width: 400px) {
        grid-template-columns: auto;
      }

      .action-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $spaceing-s;

        @media screen and (max-height: 400px) {
          grid-column: span 2;
        }
        @media screen and (max-width: 400px) {
          grid-column: auto;
          grid-template-columns: auto;
        }
      }
    }
  }
}

@each $theme-name in $theme-names {
  @include login-theme($theme-name);
}
