@mixin no-products-theme($theme-name) {
  $text-color: get-theme($theme-name, bright);

  .no-products.#{$theme-name} {
    color: rgba($text-color, .3);
  }
}
@mixin search-theme($theme-name) {

  $theme: map-get($themes, $theme-name);
  $search-bg: map-get($theme,dark);
  .search-wrapper-wrapper.#{$theme-name} {
    background-color: $search-bg;
  }

}
