<div class="product-view" *ngIf="hasProducts; else hasNoProducts">
  <div class="control">
    <button [ngClass]="'button-' + theme" (click)="switchView()">Switch View</button>
    <button [ngClass]="'button-' + theme" (click)="searchProduct(searchProducts)" type="button">Search Products</button>
  </div>
  <div class="select">
    <app-select-categories class="select-categories" [products]="products" [filteredProducts]="filteredProducts" [cats]="catslist" (deleteRequest)="crossOffItem($event)"></app-select-categories>
  </div>
  <div class="view">
    <app-product-view-list class="product-display list" *ngIf="isList; else isGrid" [products]="filteredProducts" [path]="path"></app-product-view-list>
    <ng-template #isGrid>
      <app-product-view-grid class="product-display grid" [products]="filteredProducts" [path]="path"></app-product-view-grid>
    </ng-template>
  </div>
</div>
<ng-template #hasNoProducts>
  <div class="no-products" [ngClass]="theme">
    Nothing to see here.
  </div>
</ng-template>
<ng-template #searchProducts>
  <div class="search-wrapper-wrapper">
    <div class="search-wrapper">
          <app-search-product (criteriaChange)='updateCriteria($event)'></app-search-product>
    </div>
  </div>
</ng-template>
