<div class="product-view" *ngIf="hasProducts; else hasNoProducts">
  <div class="control">
    <button [ngClass]="'button-' + theme" (click)="switchView()">Switch View</button>
  </div>
  <div class="view">
    <app-product-view-list class="product-display list" *ngIf="isList; else isGrid" [products]="products" [path]="path"></app-product-view-list>
    <ng-template #isGrid>
      <app-product-view-grid class="product-display grid" [products]="products" [path]="path"></app-product-view-grid>
    </ng-template>
  </div>
</div>
<ng-template #hasNoProducts>
  <div class="no-products" [ngClass]="theme">
    Nothing to see here.
  </div>
</ng-template>
