@import '../../../../../../variables.scss';
@import './navigation-element.component.theme.scss';

.navigation-element {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: $spaceing-xs;
  border-radius: $border-radius;
  transition: all .1s ease-out;
  height: 100%;
  position: relative;
}

.navigation-element:focus {
  outline: none;
}

@each $theme-name in $theme-names {
  @include navigation-element-theme($theme-name);
}
