<div class="post-wrapper-wrapper">
  <div class="post-wrapper">
    <h3>Create</h3>
    <form #postProductForm="ngForm" (ngSubmit)="onSubmit(postProductForm)">
      <div class="input-grid">
        <app-select name="productType" selectName="Product Type" ngModel #productType="ngModel" [options]="['Item', 'Service']"></app-select>
        <app-select name="offerType" selectName="Offer Type" ngModel #offerType="ngModel" [options]="['Sell', 'Rent']"></app-select>
      </div>
      <app-text-input placeholder="Title" name="title" ngModel #title="ngModel"></app-text-input>
      <textarea class="input" rows="4" placeholder="Description" name="description" ngModel #description="ngModel"></textarea>
      <div class="input-grid">
        <app-number-input placeholder="Price" name="price" ngModel #price="ngModel"></app-number-input>
        <app-select name="status" selectName="Status" ngModel #status="ngModel" [options]="['Available', 'Lent', 'Sold']"></app-select>
      </div>
      <div class="input-grid">
        <app-text-input placeholder="Location" name="location" ngModel #location="ngModel"></app-text-input>
        <app-select name="category" selectName="Categiry" ngModel #category="ngModel" [options]="['Houses', 'Pets', 'Nice Stuff']"></app-select>
      </div>
      <label>Picture
        <input class="picture" name="picture" ngModel #picture="ngModel" 
        type="file" (change)="onFileChanged($event)" size="50" accept="png, jpg">
      </label>
      <div class="input-grid">
        <div class="action-wrapper">
          <button (click)="showPreview(postProductForm, preview)" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
            Preview
          </button>
        </div>
        <div class="action-wrapper">
            <button type="submit" (click)="openSnackBar()" name="button">Create</button>
        </div>
      </div>
    </form>

    <!-- This template displays the overlay content and is connected to the button -->
    <ng-template #preview>
      <div class="buy-wrapper-wrapper">
        <div class="buy-wrapper">
            <h2>Your product</h2>
            <app-product-information [data]="productData" [isPreview]="true"></app-product-information>
        </div>
      </div>
    </ng-template>
    
  </div>
</div>

