@mixin post-theme($theme-name) {

  .post-wrapper.#{$theme-name} {

    $theme: map-get($themes, $theme-name);

    $login-wrapper-bg: map-get($theme, dark);
    $login-bg: map-get($theme, shady);
    $text-color: map-get($theme, bright);
    $warning-text-color: map-get($theme, warn);

    background: $login-wrapper-bg;

    .post {
      background: $login-bg;
      color: $text-color;

      .header {
        .warning {
          color: $warning-text-color;
        }
      }
    }
  }
}
