<div class="post-wrapper" theme>
  <div class="post">
    <div class="header">
      <h3 class="title" *ngIf="!isUpdate, else update">Create</h3>
      <ng-template #update>
        <h3 class="title">Update</h3>
      </ng-template>
    </div>
    <form class="post-product-form" #postProductForm="ngForm" (ngSubmit)="onSubmit(postProductForm)">
      <div class="first">
        <app-select class="product-type" name="productType" selectName="Product Type" [options]="originalProductTypeStrings" ngModel #productType="ngModel" (ngModelChange)="udateOfferTypeStrings($event)"></app-select>
        <app-select class="offer-type" name="offerType" selectName="Offer Type" [options]="offerTypeStrings" ngModel #offerType="ngModel"></app-select>
        <app-select class="category" name="category" selectName="Category" [options]="categoryStrings" ngModel #category="ngModel" (ngModelChange)="updateSubCategoryStrings($event)"></app-select>
        <app-select class="subcategory" name="subcategory" selectName="Subcategory" [options]="subcategoryStrings" ngModel #subcategory="ngModel"></app-select>
        <app-text-input class="title" name="title" placeholder="Title" ngModel #title="ngModel" appTitleValidator></app-text-input>
        <app-text-area class="description" name="description" placeholder="Description" rows="1" ngModel #description="ngModel" appDescriptionValidator></app-text-area>
        <app-text-input class="price" name="price" placeholder="Price" ngModel #price="ngModel" appPriceValidator></app-text-input>
        <app-select class="deliverable" name="isDeliverableString" selectName="Deliverable" ngModel #isDeliverableString="ngModel" [options]="isDeliverableStrings"></app-select>
        <app-date class="expiration-date" name="expirationDate" placeholder="Expiration Date" min="tomorrow" ngModel #expirationDate="ngModel" appDateValidator></app-date>
        <div class="picture">
          <app-file placeholder="Picture" name="picture" (change)="selectFile($event)" accept="png, jpg"></app-file>
          <img class="image" src={{picture}}>
        </div>
      </div>
      <div class="second">
        <map-search class="address" name="address" placeholder="Address" ngModel #address="ngModel" mapSearchValidator></map-search>
        <div class="action-wrapper">
          <button theme buttonEmpty (click)="showPreview(preview)" type="button">Preview</button>
          <button *ngIf="!isUpdate, else updateButton" theme button type="submit" [disabled]="!postProductForm.valid">Create</button>
          <ng-template #updateButton>
              <button theme button type="submit">Update</button>
          </ng-template>
        </div>
      </div>
    </form>

    <!-- This template displays the overlay content and is connected to the button -->
    <ng-template #preview>
      <div class="buy-wrapper-wrapper">
        <div class="buy-wrapper">
              <h2>Your product</h2>
            <app-product-information [product]="previewData" [isPreview]="true" [picture]="picture"></app-product-information>
        </div>
      </div>
    </ng-template>

  </div>
</div>
