.post-wrapper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-wrapper {
  width: 60%;
  padding: 40px;
  border: 2px solid #2f2f36;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

form {
  margin-bottom: 40px;
  background: transparent;
  border: 0;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  margin-bottom: 1em;
}

.input {
    border: 0;
    border-bottom: 2px solid #2f2f36;
    background: transparent;
    width: 100%;
    padding: 7px 0 70px 0;
    font-size: 16px;
    text-align: initial;
    transition: all .2s ease-in-out;
    margin-bottom: 1.5em;
  }

label {
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #2f2f36;
    position: relative;
}
.picture {
    margin-bottom: 2em;
    margin-top: 1em;
}

.action-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.buy-wrapper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.buy-wrapper {
  height: 40em;
  width: 40em;
  padding: 50px;
  padding-top: 40px;
  border: 2px solid #2f2f36;
  background: white;
}

.card {
  width: 100%;
  height: 80%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 4px;
      width: 100%;
 }

 h2 {
  height: auto;
  letter-spacing: 10px;
  color: #8a838a;
  text-transform: uppercase;
}

h1 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #352e34;
  margin-bottom: 2em;
}

::ng-deep .snackbar {
  background: #DBA295;
  border: 2px solid #352e34;
  height: 150px;
  width: 200px;
  letter-spacing: 2px;
  color: #352e34;
}

