@import '../../../../../../../variables.scss';

$picture-dim: 300px;
$price-width: 200px;
$svg-width: 100px;

.product-card {
  border: 2px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: auto $svg-width;
  grid-template-rows: $picture-dim auto auto auto;
  grid-gap: 20px;
  cursor: pointer;
  font-size: 20px;
}

.product-card:hover > .go-to-product > svg {
  transform: translate(10px);
}

.picture {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture > img {
  max-height: $picture-dim;
  max-width: $picture-dim;
}

.title {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
}

.title > div {
  font-size: 1em;
}

.price {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
}

.price > div {
  font-size: 0.6em;
}

.go-to-product {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 50%;
  transition: all .3s ease-in-out;
}

svg > path {
  stroke: $primary;
  stroke-width: 4%;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: $primary;
  transform: rotate(-90deg);
}

.details {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
