@mixin checkout-theme($theme-name) {

  $checkout-wrapper-bg: get-theme($theme-name, dark);
  $checkout-text-color: get-theme($theme-name, bright);
  $checkout-bg: get-theme($theme-name, shady);

  .checkout-wrapper.#{$theme-name} {
    background: $checkout-wrapper-bg;
    color: $checkout-text-color;

    .checkout {
      background: $checkout-bg;
    }
  }
}
