<div>
    <form (ngSubmit)="onSubmit()">
        <div class="input-grid">
            <app-select name="category" selectName="Category" [(ngModel)]="criteria.category"
                [options]="['Houses', 'Pets', 'Nice Stuff']"></app-select>
            <app-select name="subcategory" selectName="Subcategory" [(ngModel)]="criteria.subcategory"
                [options]="['Houses_sub', 'Pets_sub', 'Nice Stuff_sub']"></app-select>
        </div>
        <div>
            <app-text-input placeholder="Maximum Price" name="price" [(ngModel)]="criteria.price">
            </app-text-input>
            <app-select name="status" selectName="Status"
                [options]="['Available', 'Lent', 'Sold']" [(ngModel)]="criteria.status"></app-select>
        </div>
        <div class="input-grid">
            <app-text-input placeholder="Location" name="location" [(ngModel)]="criteria.location">
            </app-text-input>
            <app-select name="isDeliverable" selectName="Deliverable"
                [options]="[true, false]" [(ngModel)]="criteria.deliverable"></app-select>
        </div>
        <div class="button">
            <button [ngClass]="'button-' + theme" type="submit">Search</button>
        </div>
    </form>
</div>

