@mixin search-theme($theme-name) {
  .input-grid.#{$theme-name} {
    $theme: map-get($themes, $theme-name);
    $search-bg: map-get($theme, dark);
    $text-color: map-get($theme, bright);

    background: $search-bg;

    h2 {
      color: $text-color;
    }
    h3 {
      color: $text-color;
    }
    b {
      color: $text-color;
    }
  }
}
