@import '../../../../../../variables.scss';
@import '../product-information.component.scss';

.rejection-message {
  margin: 0 50px 50px 50px;

  .title {
    background: $warn;
    padding: 10px;
    border-radius: 20px;
  }

  .message {
    margin-top: 10px;
  }
}
