@import '../../../../../../variables.scss';
@import '../messages.component.theme.scss';

@each $theme-name in $theme-names {
    @include messenger-theme($theme-name);
  }

.messenger {
    padding-left: $spaceing-s;
    border-radius: $border-radius;
    height: 100%;
    width: 100%;
}
.header {
    font-size: 1.7em;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: $spaceing-l;
    padding-top: $spaceing-m;
}

.answer-area {
    border-radius: $border-radius;
    font-size: 1em;
    line-height: 1em;
    margin-top: $spaceing-m;
    padding: $spaceing-s;
}
.messages {
    margin-bottom: 0.5em;
}
.text {
    text-align: left;
}
