<div class="messenger-wrapper" theme>
    <div class="messenger">
    <div class="header">
        Messages of {{thread.name}}
    </div>
    <div class="messages"
        *ngFor="let message of thread.messages">
        <div *ngIf="message.senderId != myId; else answerMessage">
        <app-product-pill class="text" [pillValue]="message.body" title="" [size]="1.3"></app-product-pill></div>
</div>
</div>
<div class="messenger-wrapper" theme>
    <div class="answer-area">
        <app-text-area  name="answer" placeholder="Answer for {{thread.name}}"
         rows="1" ngModel #answer="ngModel"></app-text-area>
         <button class="button" button theme (click)="sendMessage(answer)">Send</button>
    </div>
</div>
<ng-template #answerMessage>
    <app-product-pill class="answerButton" [pillValue]="thread.messages[thread.messages.length-1].body" title="" [size]="1.3"></app-product-pill>
</ng-template>
