/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  background: transparent;
  padding: 13px 25px;
  font-size: 16px;
}

button:focus {
  outline: 0;
}

.button-full-po {
  border: 0;
  background: #d9b9b2;
  transition: all .1s ease-out;
  color: white;
}

.button-full-po:hover {
    background: #ccaea7;
}

.button-full-po:active {
    background: #bfa39d;
}

.button-full-po:disabled {
  background: rgba(217,185,178, 0.5);
  cursor: default;
}

.button-full-primary {
  border: 0;
  background: #007bff;
  transition: all .1s ease-out;
  color: white;
}

.button-full-primary:hover {
    background: #007bff;
}

.button-full-primary:active {
    background: #007bff;
}

.button-empty {
  border: 0;
  padding: 13px 0;
  position: relative;
}

.button-empty::before {
  content: "";
  display: block;
  height: 100%;
  width: calc(100% + 20px);
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -2;
  transition: all .1s ease-out;
}

.button-empty:active::before {
  background: rgba(223, 171, 160, .2);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
