@import './functions.theme.scss';

$primary: #4F8AC9;
$faded: #EBD4C5;
$fainted: #FBF1EA;
$success: #73BC58;
$warn: #c55051;

// theme dark
$dark-bright: #c4fff1;
$dark-light: #89ffe3;
$dark-highlight: #0eba91;
$dark-accent: #0a8265;
$dark-shady: #2f3b52;
$dark-dark: #242e42;
$dark-warn: #c55051;

$border-radius: 10px;
$spaceing-xs: 10px;
$spaceing-s: 15px;
$spaceing-m: 20px;
$spaceing-l: 30px;
$spaceing-xl: 50px;


// theme bright
$bright-bright: #1D3557; //white
$bright-light: #30566E; //dark blue
$bright-highlight: #97B9D3; //pink
$bright-shady: #C8E8E9;//#7aa9d1; //light blue
$bright-dark: #FFFFFF; //very light green


$bright-accent: #A284C2; //gray
$bright-warn: #FF3859;

// 7243FF sick
// 7F98F5 sick

$themes: (
  "dark" : (
    "bright": $dark-bright,
    "light": $dark-light,
    "highlight": $dark-highlight,
    "accent": $dark-accent,
    "shady": $dark-shady,
    "dark": $dark-dark,
    "warn": $dark-warn,
  ),
  "bright" : (
    "bright": $bright-bright,
    "light": $bright-light,
    "highlight": $bright-highlight,
    "accent": $bright-accent,
    "shady": $bright-shady,
    "dark": $bright-dark,
    "warn": $bright-warn
  )
);

$theme-names: map-keys($themes);
