$primary: #4F8AC9;
$faded: #EBD4C5;
$fainted: #FBF1EA;
$warn: #c55051;
$success: #73BC58;

// new theme
$bright: #c4fff1;
$light: #89ffe3;
$highlight: #0eba91;
$accent: #0a8265;
$light-bg: #2f3b52;
$dark-bg: #242e42;

$border-radius: 10px;
$spaceing: 15px;
