<app-product-details [product]="product" [creator]="creator">
  <button class="button-full-po" type="button" (click)="toggleAccept()">Accept</button>
  <button class="button-full-po" type="button" (click)="toggleReject()">Reject</button>
</app-product-details>
<form *ngIf="showRejectResponseForm" class="reject-response-form" #rejectResponseForm="ngForm" (ngSubmit)="reject(rejectResponseForm)">
  <app-text-area rows="4"
    placeholder="Reason of Rejection"
    name="reason"
    appDescriptionValidator
    ngModel></app-text-area>
  <button class="button-full-po">Send Rejection</button>
</form>
<div *ngIf="showAcceptForm" class="accept-form-wrapper">
    <form class="accept-form" #acceptForm="ngForm" (ngSubmit)="accept(acceptForm)">
      <p>Are you sure you want to accept this product?</p>
      <div>
        <button class="button-full-po">Accept</button>
        <button type="button" (click)="toggleAccept()" class="button-full-po">Cancel</button>
      </div>
    </form>
</div>
