@import '../../../../../variables.scss';
@import './messages.component.theme.scss';

.messenger-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: $border-radius;
  padding: $spaceing-m;

    @media screen and (max-width: 350px){
      padding: $spaceing-m;
    }
}
@each $theme-name in $theme-names {
    @include messenger-theme($theme-name);
  }
