@mixin messenger-theme($theme-name) {

    .messenger-wrapper.#{$theme-name} {
  
      $theme: map-get($themes, $theme-name);
  
      $message-bg: map-get($theme, dark);
      $messenger-bg: map-get($theme, shady);
      $text-color: map-get($theme, bright);
      $warning-text-color: map-get($theme, warn);
      $answer-color: map-get($theme, highlight);
  
      background: $messenger-bg;
  
      .answer-area {
        background: $message-bg;
      }
      
      .answerButton {
        color: $answer-color;
      }
      .messenger {
        color: $text-color;
        .header {
          .warning {
            color: $warning-text-color;
          }
        }
      }
    }
  }