@import '../../../../variables.scss';
@import './register.component.theme.scss';

.register-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .register {
    width: 30%;
    padding: $spaceing-xl;
    border-radius: $border-radius;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: $spaceing-m;

      .title {
        font-size: 1.7em;
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;
      }

      .warning {
        font-size: 1em;
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .input-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $spaceing-xl;
    }

    .action-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: $spaceing-xl;
    }
  }
}

@each $theme-name in $theme-names {
  @include register-theme($theme-name);
}
