<div class="register-wrapper" theme>
  <div class="register">
    <div class="header">
      <h3 class="title">Create Account</h3>
      <div class="warning">{{registerErrorMessage}}</div>
    </div>
    <form enctype="multipart/form-data" class="register-form" #createAccountForm="ngForm" (ngSubmit)="onSubmit(createAccountForm)" appPasswordMatchValidator>

      <div class="first">
        <app-select placeholder="Gender" name="gender"  selectName="Gender" [options]="['Female', 'Male', 'Other']" ngModel #gender="ngModel" appGenderValidator></app-select>
        <app-number-input placeholder="Phonenumber" name="phonenumber" ngModel #phonenumber="ngModel" appPhonenumberValidator></app-number-input>
        <app-text-input class="firstname" placeholder="First Name" name="firstName" ngModel #firstName="ngModel" appNounValidator></app-text-input>
        <app-text-input class="lastname" placeholder="Last Name" name="lastName" ngModel #lastName="ngModel" appNounValidator></app-text-input>
        <app-text-input class="username" placeholder="Username" name="userName" ngModel #userName="ngModel" appUsernameValidator></app-text-input>
        <app-text-input class="email" placeholder="Email" name="email" ngModel #email="ngModel" appEmailValidator></app-text-input>
        <app-password-input class="password" placeholder="Password" name="password" ngModel #password="ngModel" appPasswordValidator (input)="validateCrossFieldPassword(createAccountForm)"></app-password-input>
        <app-password-input class="repeat-password" placeholder="Repeat Password" name="repeatPassword" ngModel #repeatPassword="ngModel" appPasswordValidator (input)="validateCrossFieldPassword(createAccountForm)"></app-password-input>
        <div class="picture">
          <app-file placeholder="Picture" name="picture" (change)="selectFile($event)" accept="png, jpg, jpeg"></app-file>
          <img class="image" src={{previewPicture}}>
        </div>
      </div>

      <div class="second">
        <map-search class="home-address" placeholder="Please search for your home address." name="address" ngModel #address="ngModel" mapSearchValidator></map-search>
        <div class="action-wrapper">
          <button theme button [disabled]="!createAccountForm.valid">Create Account</button>
        </div>
      </div>


    </form>
  </div>
</div>
