<div class="input-wrapper" [ngClass]="classes">
  <label>
    {{placeholder}}
  </label>
  <div class="radio" theme *ngFor="let option of optionsWithTemplate">
    <label class="checkbox">
      {{option[0]}}
      <div class="checkmark-wrapper" >
        <input [type]="type" (blur)="touch()" (focus)="focus()" (change)="onSelect(option[1])" [name]="placeholder" [checked]="option[1] === value ? 'checked' : ''">
        <div class="checkmark"></div>
      </div>
    </label>
    <ng-container [ngTemplateOutlet]="option[2]"></ng-container>
  </div>
</div>
