@import '../../../../variables.scss';
@import './profile.component.theme.scss';

$navigation-width: 250px;
$title-height: 80px;
$header-height: 112px;

.profile-wrapper {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: $navigation-width auto;
  grid-template-rows: $header-height $title-height auto;
  transition: background .1s ease-in-out;

  .top {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: $spaceing-s;
    display: flex;
    justify-content: space-between;

    .header-wrapper {
      padding: 15px;
      border-radius: $border-radius;

      .header {
        width: inherit;
        border-bottom: 2px dashed;
        margin-bottom: 20px;

        .username {
          font-size: 2rem;
          font-weight: 100;
        }

        .id {
          font-size: .8rem;
          margin-left: 20px;
        }
      }
    }

    .home-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .home {
        height: auto;
        width: 150px;
      }
    }
  }

  .navigation-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding: $spaceing-s;
  }

  .title {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: $border-radius;
    margin: $spaceing-s;
  }

  .content-wrapper {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: $spaceing-s;
  }
}

@each $theme-name in $theme-names {
  @include profile-theme($theme-name);
}
