@import 'variables';
@import './profile.component.theme.scss';

$navigation-width: 250px;
$title-height: 80px;
$header-height: 112px;

.profile-wrapper {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  grid-template-rows: min-content max-content auto;
  grid-gap: $spaceing-s;
  padding: $spaceing-s;
  // @media screen and (max-width: 500px) {
  //   grid-template-columns: 1fr;
  // }
  transition: background .1s ease-in-out;

  .top {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;

    .header-wrapper {
      padding: $spaceing-s;
      border-radius: $border-radius;

      .header {
        width: inherit;
        border-bottom: 2px dashed;

        .username {
          font-size: 2rem;
          font-weight: 100;
        }

        .id {
          font-size: .8rem;
          margin-left: 20px;
        }
      }
    }

    .home-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .home {
        height: auto;
        width: 150px;
      }
    }
  }

  .navigation-wrapper {
    // @media screen and (max-width: 500px) {
    //   position: fixed;
    //   top: $header-height + $title-height;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1001;
    // }
    //
    // &.navigation-sidebar {
    //   transition: all .3s ease-in-out;
    //   &.show {
    //     @media screen and (max-width: 500px) {
    //       transform: translate(0);
    //     }
    //   }
    //
    //   &.hidden {
    //     @media screen and (max-width: 500px) {
    //       transform: translate(-100%);
    //     }
    //   }
    // }
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .nav-title {
    // @media screen and (max-width: 500px) {
    //   grid-column: auto;
    // }
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: min-content auto;

    // @media screen and (min-width: 500px) {
    //   grid-template-columns: 100%;
    // }

    // .navigation-icon {
    //   height: 80%;
    //   display: none;
    //   align-self: center;
    //   padding: $spaceing-s;
    //   @media screen and (max-width: 500px) {
    //     display: block;
    //   }
    //   path {
    //     stroke: white;
    //     stroke-width: 8%;
    //     stroke-linecap: round;
    //     fill: none;
    //   }
    // }

    .title {

      @media screen and (max-width: 500px) {
        justify-content: space-around;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: 1em;
      font-weight: bold;
      border-radius: $border-radius;
      padding: $spaceing-s;
    }
  }



  .content-wrapper {
    // @media screen and (max-width: 500px) {
    //   grid-column: auto;
    // }
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@each $theme-name in $theme-names {
  @include profile-theme($theme-name);
}
