@import '../../../../variables.scss';

@mixin profile-theme($theme-name, $profile-bg, $header-bg, $header-color, $accent-color, $title-bg, $title-color) {
  .#{$theme-name} {
    background: $profile-bg;

    .header-wrapper {
      background: $header-bg;
    }

    .header {
      border-color: $accent-color
    }

    .username {
      color: $header-color;
    }

    .id {
      color: $accent-color;
    }

    .id > span {
      color: $header-color;
    }

    .title {
      background: $title-bg;
      color: $title-color;
    }
  }
}
