@import '../../../../variables.scss';
@import './profile.component.theme.scss';

$navigation-width: 250px;
$title-height: 80px;
$header-height: 112px;

.profile-wrapper {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: $navigation-width auto;
  grid-template-rows: $header-height $title-height auto;
}


.header-wrapper-wrapper {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: $spaceing-s;
  display: flex;
}

.header-wrapper {
  padding: 15px;
  border-radius: $border-radius;
}

.header {
  width: inherit;
  border-bottom: 2px dashed;
}

.username {
  font-size: 2rem;
  font-weight: 100;
}

.id {
  font-size: .8rem;
  margin-left: 20px;
}

.navigation-wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  padding: $spaceing-s;
}

.title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: $border-radius;
  margin: $spaceing-s;
}

.content-wrapper {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: $spaceing-s;
}


@include profile-theme(dark, $dark-dark, $dark-shady, $dark-bright, $dark-accent, $warn, $dark-bright);
@include profile-theme(bright, $bright-light, $bright-shady, $bright-bright, $bright-dark, $bright-highlight, $bright-bright);
