@import '../../../../../../../variables.scss';
@import '../product-card.scss';

$title-height: 100px;
$picture-dim: 300px;

.product-card {
  .description {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-content: flex-start;
    font-size: .6em;

    div {
      line-height: 200%;
    }
  }
}

@include product-card(
  $picture-dim auto 150px 100px,
  $title-height auto,

  1, 2,
  1, 3,

  2, 3,
  1, 2,

  3, 4,
  1, 2,

  4, 5,
  1, 2,

  4, 5,
  2, 3,
  column
);
