<div class="product-card" [routerLink]="routerLink" [ngClass]="theme">
  <div class="picture flex-align-center">
    <img src={{product.picture}} alt=""> <!--placeholder image-->
  </div>
  <div class="title flex-align-center">
    <div>{{product.title ? product.title : 'No Title available!'}}</div>
  </div>
  <div class="price flex-align-center">
    <div>Price: {{product.price ? product.price + priceLabel : 'No Pricing available!'}}</div>
  </div>
  <div class="description flex-align-center">
    <div>{{product.description ? product.description : 'No Description available!'}}</div>
  </div>
  <div class="go-to-product flex-align-center">
    <svg viewBox="-50 -50 100 100" preserveAspectRatio="xMidYMid meet">
      <path d="M -48 -17.0285 L 0 27.9715 L 48 -17.0285 L 37.7409 -27.9715 L 0 7.41053 L -37.7409 -27.9715 Z"></path>
    </svg>
  </div>
  <div class="details flex-align-center">
    <app-product-pill [pillValue]="product.offerType"></app-product-pill>
    <app-product-pill [pillValue]="product.productType"></app-product-pill>
    <app-product-pill [pillValue]="product.status" [indicatorPillColorClassFn]="statusIndicatorPillColorClass"></app-product-pill>
    <app-product-pill [pillValue]="product.isDeliverable ? 'Yes' : 'No'" [indicatorPillColorClassFn]="deliverableIndicatorPillColorClass"></app-product-pill>
  </div>
</div>
